.mark-bg {
  background-color: #ffffffc4;
  color: #08205a;
  font-family: "regular";
  padding-top: 10px;
}
.logo-img {
  max-height: 100px;
}

.appbar-title {
  font-family: "Noto Sans Tamil", "Latha", "Arial", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #e600ff;
  text-shadow: 1px 1px 4px #000;
}

@media (max-width: 576px) {
  .appbar-title {
    font-size: 1.1rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .appbar-title {
    font-size: 1.3rem;
  }
}

/* home css */

.min-h-screen {
  height: auto;
  padding: 10px;
  background: linear-gradient(
    135deg,
    rgb(233, 30, 99) 0%,
    rgb(156, 39, 176) 25%,
    rgb(103, 58, 183) 50%,
    rgb(63, 81, 181) 75%,
    rgb(0, 188, 212) 100%
  );
}
.fund-section {
  color: #fff;
}

.left-text p {
  font-size: 18px;
  padding: 5px;
}

.right-table {
  background-color: #ffffff1a;
  padding: 20px 10px;
  border-radius: 10px;
}

.fund-table th {
  padding: 10px;
  text-align: center;
  background-color: #cece10;
  color: black;
  border-radius: 5px;
}

.fund-table td {
  padding: 10px;
  text-align: center;
  background-color: rgb(241, 241, 255);
  color: black;
  border-radius: 5px;
}
.fund-table {
  border-collapse: separate !important;
  border-spacing: 5px 5px;
}
/* end home css */

.download-app-container {
  background-color: #ffffff1a;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 0 0 10px;
}
